.table {
  display: table-cell;
}

.table-header-data, .table-data {
  display: table-cell;
  min-width: 90px;
  padding: 2px;
}

.table-header-data {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.table-data {
  font-size: 13px;
}

.year {
  min-width: 75px;
}