$primary-text-color: #000;
$secondary-text-color: #fff;

$primary-bg-color: #fff;
$secondary-bg-color: #787777;

$primary-action-color: #001eb0;
$primary-action-hover-color: #001570;
$secondary-action-color: #a10000;
$secondary-action-hover-color: #670000;

$table-row-border-color: #ddd;