@import 'settings';

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: url("/app/assets/images/mlb-logo-large-light-gray.jpg") top / cover no-repeat;
  //background: $primary-bg-color;
}

a {
  color: #001eb0;
  text-decoration: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}