@import 'settings';

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: url("/app/assets/images/mlb-logo-large-light-gray.jpg") top / cover no-repeat;
  //background: $primary-bg-color;
  padding: 0;
  margin: 0;
}

a {
  color: #001eb0;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.main-content {
  margin: 60px 10px 10px 10px;
  height: calc(100% - 80px);
}